<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new inquery from <%= @email %></h1>
    Content:
    <%= @content %>
    <br>
    Tel: <%= @tel %>
    <p>Please reply immediately!</p>
  </body>
</html>