<div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
<div class="mbx">
  <div class="zt">
    <i class="fa fa-home"></i>
    <a href="/">Home</a> - <%= link_to "Case", controller: "welcome", action: "case" %>
  </div>
</div>