<div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
<div class="mbx">
  <div class="zt">
    <i class="fa fa-home"></i>
    <a href="/">Home</a> - <%= link_to "Contact Us", controller: "welcome", action: "contact_us" %>
  </div>
</div>
<div class="zt abnei ov">
 <div class="protit">Contact Us</div>
 <div class="fl mess">
  <form id="form1">
   <input type="text" placeholder="Name" name="Contact" id="Contact1" class="textname">
   <input type="tel" placeholder="Tel" name="ContactWay" id="ContactWay1" class="textname">
   <input type="email" placeholder="Email" name="Email" id="Email1" class="textname">
   <textarea class="area" placeholder="Content" name="Content" id="Content1"></textarea>
   <input type="hidden" name="Paths" id="Paths1" value="/">
   <input type="hidden" name="Product" value="Contact Us">
   <input type="button" class="butt" id="gbooks" value="MESSAGE">
  </form>
 </div>
 <div class="fr conts">
  <h2>Hebei Tiekang Machinery Equipment Co., Ltd.</h2>
  <ul>
   <li>Tel: +86-13933089519</li>
   <li>Mobile: +86-13933089519</li>
   <li>Fax: +86-13933089519</li>
   <li>Email: <a href="mailto:info@tiekangmachinery.com">info@tiekangmachinery.com</a></li>
   <li>Contacts: General Manager Yu</li>
   <li>ADD: Luquan District, Shijiazhuang City, Hebei Province, China</li>
  </ul>
 </div>
</div>
<div class="map" style="background: url(/public/images/map.jpg) 50% 50% no-repeat;"></div>