<div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
<div class="mbx">
  <div class="zt">
    <i class="fa fa-home"></i>
    <a href="/">Home</a> - <%= link_to "Factory", controller: "welcome", action: "factory" %>
  </div>
</div>
<div class="zt abnei" style="margin-bottom: 150px; width: 1200px; margin: 0px auto;">
  <h1>Factory</h1>
  <div class="xiangq" style="line-height: 28px; padding: 0 10px; display: block;">
    <div style="margin-left:15px;float:right; width: 30%; height: 30%">
      <%= image_tag("demo.jpg", alt: "Gypsum Board Production Line Equipment", style: "; float: right") %>
    </div>
    <p>
      <strong>
        <span style="font-size:14px;">Hebei Tiekang Machinery Equipment Co., Ltd.</span>
      </strong> established in 2015, specializes in the development and production of portable tamping machines. Since the establishment of the company, we have great achievement relying on strong technical background resources in the professional field. The company has exclusive patent for products. After identification, the products are highly recognized by national railway experts. The portable tamping machine produced by the company solves the problems that haven’t been solved for many years in the field of railway maintenance. It also established many powerful business partnerships and provided reliable equipment for major railway bureaus around the world. Hebei Tiekang Machinery Equipment Co., Ltd. is committed to the growing Chinese market and overseas markets, providing high-quality products and after-sales service, and winning customer support and trust with strong strength, quality and professionalism. We welcome friends from all over the world to visit and negotiate.
    </p>
    <p>
      Tiekang will take the "creating value for customers" as our own
    responsibility, adhere to the "integrity-based, mutual benefit and win-win" principle, and provide professional technology and omni-directional series of services for our partners.
    </p>
  </div>
</div>