<div class="neiban" style="background: url(/public/images/banner1.jpg ) 50% 50% no-repeat;"></div>
<div class="mbx">
  <div class="zt">
    <i class="fa fa-home"></i>
    <a href="/">Home</a> - <%= link_to "Factory", controller: "welcome", action: "factory" %>
  </div>
</div>
<div class="zt abnei" style="margin-bottom: 150px; width: 1200px; margin: 0px auto;">
  <h1>Factory</h1>
  <div class="xiangq" style="line-height: 28px; padding: 0 10px; display: block;">
    <div style="margin-left:15px;float:right; width: 30%; height: 30%">
      <%= image_tag("factory.jpg", alt: "Gypsum Board Production Line Equipment", style: "; float: right") %>
    </div>
    <p>
      <strong>
        <span style="font-size:14px;">Hebei Tiekang Machinery Equipment Co., Ltd.</span>
      </strong> is a technology company specializing in the production of railway line tamping equipment through ISO9000 certification. The company is located in the beautiful scenery of Shijiazhuang Xishan Forest Park, covering an area of more than 10 acres, with more than 40 employees, including senior Engineers account for 20% of the total, with strong scientific and technological research and development strength.

      Since its establishment, the company has pointed to the weak link of maintenance equipment, and has developed a new type of internal combustion tamping for more than three years in response to the problem of high internal combustion and tamping failures in the market. The indicators by CRCC are superior to similar products. The large reduction of the failure rate, through the multi-stage vibration reduction design, improve the operator operating environment, welcomed by front-line workers, has been widely used in the Beijing Municipal Bureau of various work.
    </p>
  </div>
</div>